<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<form action="{% url 'chat_response' %}" >
    {% csrf_token %}
    question:<br>
    <input type="text" name="question" value="Enter your question here">
    <br><br>

    <input type="text" name="question_id" value="{{ question_id }}">
    <br><br>

    <input type="submit" value="Submit">
    <br><br>
</form>


